.sk {
  @apply bg-black/5 dark:bg-white/5;
}

// Copy button
.copy-button-container {
  @apply relative;

  .copy-button-tooltip {
    @apply absolute left-1/2 top-11 hidden -translate-x-1/2 -translate-y-1/2 transform rounded-lg bg-brand px-1.5 py-0.5 text-xs text-brand-foreground;
  }

  &:hover {
    .copy-button-tooltip {
      @apply block;
    }
  }
}

// Loading animation

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.anim-container {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  margin: auto;

  .spin-animation {
    animation: spinner 20s ease-in-out infinite;
    animation-delay: var(--delay);
  }

  .center-shape {
    @apply fill-[#FFDD00] dark:fill-[#242214];
    transition: all 1s ease;
  }

  &.hovered {
    .animation-center {
      .center-shape {
        @apply dark:fill-[#FFDD00];
      }
    }
  }
}

// Inline input
// Resizable input

.input-sizer {
  display: inline-grid;
  vertical-align: top;
  align-items: center;
  position: relative;
  padding: 2px 4px;
  border-radius: 8px;
  border: solid 2px transparent;
  box-shadow: none;

  &::after,
  input {
    width: auto;
    min-width: 1em;
    grid-area: 1 / 2;
    line-height: 1;
    padding: 4px 4px;
    margin: 0;
    resize: none;
    background: none;
    appearance: none;
    border: none;
    font-size: 14px;
    @apply font-mono font-medium;

    &:focus,
    &:active {
      outline: none;
      box-shadow: none;
    }
  }

  &:before {
    content: "";
    min-width: 500px;
    pointer-events: none;
    border-radius: 6px;
    position: absolute;
    inset: 0;
  }

  &::after {
    content: attr(data-value) " ";
    visibility: hidden;
    white-space: pre;
    max-width: 620px;
  }

  &:hover {
    border: solid 2px theme("colors.blue.300");

    &::before {
      display: none;
    }
  }

  &:focus-within {
    border: solid 2px theme("colors.blue.500");

    &::before {
      display: none;
    }

    textarea:focus,
    input:focus {
      outline: none;
      box-shadow: none;
    }
  }
}
