.toc-container {
  @apply my-4 ml-4 flex flex-col border-l pl-2;
}

.toc-item {
  @apply relative flex h-8 items-center overflow-hidden truncate text-[14px] font-medium;

  &.toc-level-h3 {
    @apply flex h-7 items-center pl-6 text-sm;
  }

  &.toc-level-h2 + .toc-level-h3 {
    @apply mt-1;
  }

  &.toc-level-h3 + .toc-level-h2 {
    @apply mt-1;
  }
}

.guide-line {
  position: absolute;
  width: 1px;
  top: 0;
  bottom: 0;
  left: 10px;
  @apply bg-border;
}
